.articleContainer {
    border: 2px solid #0080FF;
    padding: 20px;
    margin: 20px auto;
    max-width: 100px;
  }
  
  @media (max-width: 768px) {
    .articleContainer {
      padding: 10px;
      margin: 10px auto;
      max-width: 90%;
    }
  }
