.articleContainer {
    border: 2px solid #fdfdfd;
    padding: 20px;
    margin: 20px auto;

  }
  
  @media (max-width: 768px) {
    .articleContainer {
      padding: 10px;
      margin: 10px auto;
      max-width: 90%;
    }
  }
