.article-review-btn{
    margin-top: -15%;
    margin-left: 40%;
}

.editor-toggle-btn{
    margin-top: 5%;
    margin-left: 40%;  
}

.article-content {
    margin-top: 5%;
}

.save-btn{
    margin-top: 5%;
    margin-left: 2%;
}